.popup__form {
  background-color: #fff;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 430px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .popup__form {
    max-width: 88%;
    padding: 25px 22px;
  }
}
